plots/*
.venv/*
BipedalWalker-v3/*
ChatGPT.pdf
helpfull_2023_10_05.html
Info.odt
image.png
SoilCntrolDemonstration.ipynb
SoilControlModel_v2_test.ipynb
SoilControlModelTest.ipynb
Скорости усваивания.txt
SoilCntrolDemonstrationSAC.ipynb